aiohttp
asyncio
asyncpg
currency-exchange
discord.py
googletrans
jellyfish
pandas
pillow
psutil
py_expression_eval
python-dateutil
requests
jishaku@git+https://github.com/Gorialis/jishaku@master
stopwatch.py
testing.postgresql
