aiohttp==3.6.0
asyncio
asyncpg
currency-exchange
discord
discord.py
DiscordUtils@git+https://github.com/devRMA/DiscordUtils@master
emojis
googletrans
jellyfish
jishaku@git+https://github.com/Gorialis/jishaku@master
pandas
pillow
psutil
py_expression_eval
python-dateutil
requests
stopwatch.py
testing.postgresql
twemoji-parser
