aiohttp
asyncio
asyncpg
bs4
colorama
discord
discord.py@git+https://github.com/Rapptz/discord.py@master
emoji
emojis
googletrans
jellyfish
jishaku@git+https://github.com/Gorialis/jishaku@master
pillow
psutil
py_expression_eval
python-dateutil
stopwatch.py
testing.postgresql
humanize
